@media (max-height: 599px) {
	body {
		height: 100vh;
		margin: 0%;
		padding: 0%;
		text-align: center;
	}

	.alert1 {
		display: none;
	}

	.alert2 {
		display: none;
	}

	#canvas {
		width: 80%;
		height: 70%;
		background-color: black;
		margin: auto;
		padding: 0%;
		border: 10px #bfe3c3 solid;
		border-radius: 10px;
	}

	.board {
		margin: auto;
		margin-top: 2%;
		width: 80%;
		height: 15%;
		line-height: 100%;
		vertical-align: middle;
		font-family: "Hi Melody", cursive;
	}

	.score > span {
		font-size: 30px;
	}

	.score {
		text-align: center;
		margin: auto;
	}

	#nowScore {
		margin: auto;
		margin-top: 5%;
		height: 20%;
		font-family: "Hi Melody", cursive;
		width: 50%;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}

	#restartBtn {
		text-decoration: none;
		background-color: #bfe3c3;
		padding: 3%;
		border-radius: 10px;
		border: 2px solid black;
		font-family: "Hi Melody", cursive;
		font-size: 30px;
		font-weight: 900;
		color: black;
		margin-left: 30%;
		display: inline-block;
	}
}

@media (min-height: 600px) {
	body {
		height: 100vh;
		margin: 0%;
		padding: 0%;
		text-align: center;
	}

	.alert1 {
		display: none;
	}
	.alert2 {
		font-size: 80px;
		font-family: "Hi Melody", cursive;
		background-color: #bfe3c3;
		line-height: 100vh;
		vertical-align: middle;
		display: block;
		width: 100vw;
		height: 100vh;
	}

	.board {
		display: none;
	}

	#canvas {
		display: none;
	}
}

@media (max-width: 600px) {
	body {
		height: 100vh;
		margin: 0%;
		padding: 0%;
		text-align: center;
	}

	.alert1 {
		font-size: 30px;
		font-family: "Hi Melody", cursive;
		background-color: #bfe3c3;
		line-height: 100vh;
		vertical-align: middle;
		display: block;
		width: 100vw;
		height: 100vh;
	}
	.alert2 {
		display: none;
	}

	.board {
		display: none;
	}

	#canvas {
		display: none;
	}
}
